* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  height: 40vh;
}

.player {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-song {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.song-poster {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.song-info {
  display: flex;
  flex-direction: column;
}

.song-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.song-artist {
  font-size: 18px;
  color: #b3b3b3;
}
.song-info span img{
  opacity: 0;
  height: 20px;
  transition: opacity 0.3s ease-in-out;
}
.controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.control-btn {
  background: #000;
  color: #00ff2f;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  margin: 5px;
}
.control-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  background-color: #1ed760;
  color: aliceblue;
}
.volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.volume-control input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #333;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}
.volume-control input::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #2a2c2a94;
  border-radius: 5px;
}
.volume-control input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #16cf25; 
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, transform 0.3s;
  margin-top: -5px;
}
.progress-bar {
  width: 100%;
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  background: #333;
  /border-radius: 5px;
  outline: none;
  margin: 10px 0;
}
.progress::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #2cba2c;
  border-radius: 5px;
}
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #fff; 
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, transform 0.3s;
  margin-top: -5px;
}
.playlist {
  flex: 1;
  background-color: #282828;
  padding: 20px;
  overflow-y: hidden;
}

.song-list {
  list-style: none;
  height: 100%;
  overflow: auto;
}
.song-list::-webkit-scrollbar {
  width: 10px;
}
.song-list::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}
.song-list::-webkit-scrollbar-track {
  background-color: #282828;
}

.song-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: space-between;
}
.song-list li img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}
.song-list i {
  color: aliceblue;
  font-size: 20px;
}
.song-list button{
  background:transparent;
  border: none;
  }
.song-item {
  padding: 10px;
  border-bottom: 1px solid #404040;
  cursor: pointer;
  transition: background-color 0.3s;
}

.song-item:hover {
  background-color: #333;
}
.name{
  font-family: cursive;
  font-size: 20px;

}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 70vh;
  }

  .player,
  .playlist {
    width: 100%;
  }
  .song-list {
    width: 100%;
    height: 100px;
    overflow: auto;
  }
}
